#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.memory-card {
  width: 155px;
  height: 155px;
  background-color: #f25a70;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin: 16px;
}

.memory-card > .icon {
  width: 100px;
  height: 100px;
}

.memory-card > .icon.-ball {
  width: 94.6px;
  height: 94px;
  background-color: #d4d4d4;
  border-radius: 50%;
}

.memory-card.-reveal {
  background-color: #ffffff;
}
